/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #2c56f7;
    color: #fff;
    padding: 1rem 0;
    margin: 0 auto;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
}

header .btn-outline-light {
    border: 2px solid #fff;
    color: #fff;
}

.container-xl {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

.bg-dark {
    background-color: #1a3bb5 !important;
}

.bg-body-primary {
    background-color: #2c56f7 !important;
}

section {
    margin: 2rem 0;
}

section .bg-white {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(33, 74, 239, 0.489);
    border: 2px solid #2c56f7;
}

.fit-content {
    width: fit-content;
}

.form-select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid #2c56f7;
    margin-bottom: 1rem;
}

.btn-outline-secondary {
    border-color: #000000;
    color: #000000;
    width: 150px;
}

.btn-outline-secondary:hover {
    background-color: #000000;
    color: #fff;
}

h3 {
    color: #2c56f7;
    font-weight: 600;
}

a.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    width: 120px; /* Ridotto leggermente per adattarsi meglio */
    margin-right: 5px; /* Aggiunto margine per separazione tra bottoni */
}

a.btn svg {
    margin-left: 0.5rem;
}

a.btn-outline-secondary {
    border: 2px solid #000000;
    color: #000000;
}

a.btn-outline-secondary:hover {
    background-color: #2c56f7;
    color: #fff;
}

.border-secondary {
    border-color: #2c56f7 !important;
}

/* Stili per la tabella */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0; /* Rimuove il margine inferiore predefinito */
}

table th, table td {
    border: 1px solid #0e56ae8c; /* Aggiunge bordi alle celle */
    padding: 8px;
    text-align: center; /* Centra il contenuto delle celle */
}

table th {
    background-color: #c8dffc;
    font-weight: bold;
}


